{% extends "page.html" %}
{% load static %}
{% block body %}
    <div class="container py-2">
        <h2>
            Version {{ version.id }} for
            <a href="{% url 'submissions-detail' version.submission.id %}">{{ version.submission.name }}</a>
        </h2>
        <div class="row">
            <div class="col-sm-6">
                Status:
                {% if evaluation.status != "EVALUATED" and evaluation.status != "FAILED" %}
                    {% if evaluation.status == "EVALUATING" %}
                        <strong>{{ evaluation.percent_complete }} evaluated</strong>
                    {% else %}
                        <strong>{{ evaluation.status }}</strong>
                    {% endif %}
                    <a href="#" onclick="window.location.reload(); return false;">
                        <img alt="Check for updates" src="{% static 'web/arrow-repeat.svg' %}">
                    </a>
                {% else %}
                    <strong>{{ evaluation.status }}</strong>
                {% endif %}
            </div>
            <div class="col-sm-6 text-end">
                {{ version.user.username }} uploaded <code>{{ version.filename }}</code> {{ version.created_at|timesince }}
                ago
            </div>
        </div>
        <div class="row py-4">
            <h4>Result</h4>
            {% if is_collaborator and evaluation.status == 'EVALUATED' %}
                <a href="{% url 'download-results' version.id %}">Download results</a>
            {% endif %}
            {% if evaluation.status == 'EVALUATED' %}
                {% for result_item in results_display %}
                    <div class="col">
                        <strong class="d-inline">{{ result_item.display_name }}</strong>
                        <p>{{ result_item.value }}</p>
                    </div>
                {% endfor %}
            {% elif evaluation.status == 'FAILED' %}
                <div class="text-center">
                    <p class="text-danger">Evaluation failed</p>
                    {% if evaluation.evaluator_logs %}
                        <pre class="text-start bg-light p-3 border rounded">{{ evaluation.evaluator_logs|linebreaksbr|slice:"-500:" }}</pre>
                    {% endif %}
                    <p class="text-muted mt-3">
                        If you are unable to resolve this error, please contact our support team at
                        <a href="mailto:cellmapchallenge@janelia.hhmi.org">cellmapchallenge@janelia.hhmi.org</a>
                        for assistance.
                    </p>
                </div>
            {% else %}
                <div class="text-center">Evaluation results will be displayed here once completed</div>
            {% endif %}
        </div>
    </div>
{% endblock body %}
